@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color: #f5f5dc;
}

nav{

    text-align: center;
    background-color: gainsboro
}

h1{
    text-align: center;
    color: #6F3811;
    font-size: xx-large; 
}

#My_Header{

font-family: 'Montserrat', sans-serif;

}

h2{
    text-decoration: underline;
}

footer{
    text-align: center;
}
