@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.indexfont h1{
    font-size: xx-large;
}



/* h1{
    text-align: center;
    color: #6F3811;
} */

#My_Header{

font-family: 'Montserrat', sans-serif;

}

h2{
    text-decoration: underline;
}




/* flex box wrapper */


.wrapper2{
    background-color: lightblue;
}

header{
    flex: 1 0 100%;
    margin: 0;
}

.flex-item2{
    margin: 0%;
}

body{
    background-color: #f5f5dc;
    flex: 1 0 100%;
}

nav{

    text-align: center;
    flex: 1 0 100%;
    margin: 0;
}

.flex-item1{
    margin: 0%;
}


footer{
    text-align: center;
    flex: 1 0 100%;
    background-color: lightblue;
}


/* grid layout */

.container{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
}

.divclass1{
    grid-column: 1/2;
    grid-row: 1/2;

}

.divclass2{
    grid-column: 1/2;
    grid-row: 2;
}

.divclass3{
    grid-column: 2;
    grid-row: 1/2;
    justify-self: center;
    margin: 2em;
}



/*--------------->Style for courses.html<----------------------*/

.coursesection{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

}

.coursenav{
    background-color: lightblue;
}

.coursenav1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1fr;
}

.courselist2{
    list-style-type: none;
}


.coursefooter{
    background-color: lightblue;
}


.article1{
    border-style: solid;
    border-right: none;
    border-left: none;
    border-top: none;
    border-color: grey;
}


.article2{
    padding-bottom: 30px;
    border-style: solid;
    border-right: none;
    border-left: none;
    border-top: none;
    border-color: grey;
}


.article3{
    padding-bottom: 30px;
}

/*--------------->Style for courses.html media<----------------------*/

@media screen and (min-width:600px){

    .coursesection{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 200px);
    }

    .coursenav1{
        display: inline
    }

    .courselist2{
        display: flex;
        justify-content: center;
    }

    article{
        grid-column: 1/4;
    }

    .article1{
        padding-bottom: 50px;
        grid-row: 1
    }

     .article2{
        padding-bottom: 50px;
        grid-row: 2;

    } 

     .article3{
        padding-bottom: 50px;
        grid-row: 3;

    } 
}
